*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  header{
  width: 100%;
  height: 48px;
  z-index: 100;
  }

  /*------------------------------------------------------- INTRO (320PX) -------------------------------------------------------*/
  
  .intro-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }

  .logo{
  margin-top: 10px;
  margin-left: 16px;
  }

  .h1{ 
  line-height: 42px;
  font-size: 36px;
  letter-spacing: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: lighter;
  color: #060A24;
  margin: 29px 42px 16px 16px;
  }

  .h1 .dot{
  text-decoration: none;
  }

  .h1 .world {
  text-decoration-line: line-through;
  font-family: 'IBM Plex Sans', sans-serif;
  }

  .intro-container p {
  line-height: 22px;
  font-size: 14px;
  width: 100%;
  font-family: 'IBM Plex Mono', monospace;
  color: #060A24;
  margin-left: 16px;
  margin-bottom:36px;
  }

  .intro-container .desktop{
  display: none;
  }

  .knowmore-button{
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  background-color: #00F3BB;
  color: #060A24;
  margin: 0px 16px 36px;
  padding: 13px 96px;
  }

  .knowmore-button:hover{
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
  }


  /*------------------------------------------------------- CHAPTERS (320PX) -------------------------------------------------------*/
  
  .assymetric1{
  display: flex;
  flex-flow: row wrap;
  position: relative;
  }

  .assymetric1::before{
  position: absolute;
  content: "";
  -webkit-clip-path: polygon(0% 2.5%, 100% 0%, 100% 97.5%, 0% 100%);
  clip-path: polygon(0% 2.5%, 100% 0%, 100% 97.5%, 0% 100%);
  width: 100%;
  height: 1228.5px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3);
  z-index: -1;
  }

  .assymetric1 h2{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 42px;
  margin: 64px 0 21px 16px;
  font-weight: lighter;
  width: 100%;
  } 

  .assymetric1 .chapters{
  overflow: hidden;
  position: relative;
  padding-top: 1005px;
  padding-left:11px;
  width: 100%;
  }

  .assymetric1 .chapters iframe{
  top: 0;
  height: 100%;
  left: 9px;
  border: none;
  position: absolute;
  width: 94.375%;
  }

  .assymetric1 .chapters .chap2{
  top:242px;
  }

  .assymetric1 .chapters .chap3{
  top:484px;
  }

  .assymetric1 .chapters .chap4{
  top:726px;
  }

  .phone{
  margin-bottom: 27px;
  width: 100%;
  }


  /*------------------------------------------------------- INFO (320PX) -------------------------------------------------------*/
  
  
  .info-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 16px 54px;
  }

  .info-container h2{
  font-family:'IBM Plex Sans', sans-serif;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 42px;
  color: #060A24;
  font-weight: lighter;
  margin-bottom: 8px;
  }

  .info-container p{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  }

  /*------------------------------------------------------- GUESTS (320PX) -------------------------------------------------------*/
  
  
  .guests-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  }

  .guests-container h2{
  font-family:'IBM Plex Sans', sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: lighter;
  margin: 0 16px 14px;
  }

  .guests-container img{
  width:100%;
  }


  /*------------------------------------------------------- TOPICS (320PX) -------------------------------------------------------*/
  
  
  .topics-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 37px;
  }

  .topics-container h2{
  font-family:'IBM Plex Sans', sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: lighter;
  margin-left: 16px;
  margin-bottom: 24px;
  }

  .topics-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 106px;
  }

  .topics-container h2{
  font-family:'IBM Plex Sans', sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: lighter;
  margin-left: 16px;
  }

  .topics-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 37px;
  }
  
  .topics-container .wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 52px;
  }

  .topics-container .remoto{
  margin-bottom: 49px;
  }

  .topics-container .repensando .bases{
  margin-bottom: 65px;
  }

  .topics-container .seguridad{
  margin-bottom: 0px;
  }

  .topics-container .wrapper h4{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  font-weight: bolder;
  margin-top: 13px;
  }

  .topics-container .line-break {
  display: block;
  }

  .topics-container .seguridad-mobile{
  display:block;
  }

  .topics-container .seguridad-desktop{
  display:none;
  }

  /*------------------------------------------------------- LAST NEWS (320PX) -------------------------------------------------------*/
  
  
  .assymetric2::before{
  position: absolute;
  content: "";
  -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
  width: 100%;
  height: 125%;
  bottom: 0;
  background-image:linear-gradient(225deg, #0000FF 0%, #0000A3);
  z-index: -1; 
  }
  
  .assymetric2{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  }

  .assymetric2 h3{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  font-weight: lighter;
  line-height: 42px;
  margin-bottom: 36px;
  margin-left: 16px;
  }

  .assymetric2 .episodes-button{
  background-color: #00F3BB;
  border: none;
  align-self: center;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  text-decoration: none;
  padding: 13px 43px;
  margin-bottom: 67px;
  }

  .episodes-button:hover{
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
  }


  /*------------------------------------------------------- FOOTER (320PX) -------------------------------------------------------*/
  
  
  footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

  footer .copyright{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  margin: 24px 46.5px 16px;
  }

  footer .icons-social-networks{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 31px;
  }


  /*------------------------------------------------------- MEDIA QUERIES (1440PX) -------------------------------------------------------*/
  
  
  @media only screen and (min-width: 1440px){
  
  
    /*------------------------------------------------------- INTRO (320PX) -------------------------------------------------------*/
  
  
    .logo{
  width: 36px;
  height: 36px;
  margin-top: 22px;
  margin-left: 100px;
  }

  .h1{
  font-size: 64px;
  letter-spacing: 0;
  margin: 120px 500px 25px 200px;
  padding:0;
  }

  .h1 .dot{
  color: #0000EC;
  }

  .intro-container p {
  font-size: 16px;
  margin: 0 612px 56px 200px;
  }   

  .intro-container .desktop{
  display: block;
  }

  .intro-container .mobile{
  display: none;
  }

  .knowmore-button{
  background-color: #00F3BB;
  border: none;
  padding: 16px 59px;
  margin: 0px 1014px 5px 200px;
  }
  
  
  /*------------------------------------------------------- CHAPTERS (1440PX) -------------------------------------------------------*/
  
  
  .assymetric1::before{
  -webkit-clip-path: polygon(0% 14%, 100% 0%, 100% 86%, 0% 100%);
  clip-path: polygon(0% 14%, 100% 0%, 100% 86%, 0% 100%);
  height: 1042.6px;
  }

  .assymetric1 h2{
  font-size: 48px;
  margin: 186px 1031px 26px 200px;
  padding: 0;
  }

  .assymetric1 .chapters{
  padding-top: 540px;
  padding-left:11px; 
  } 

  .assymetric1 .chapters iframe{
  height: 42.96%;
  top: 0;
  width: 40.55%;
  }

  .assymetric1 .chapters .chap1{
  left:100px
  }

  .assymetric1 .chapters .chap2{
  left: 759px;
  top: 0;
  }

  .assymetric1 .chapters .chap3{
  left: 100px;
  top: 305px;
  }

  .assymetric1 .chapters .chap4{
  left: 756px;
  top: 305px;
  }

  .phone{
  width: 457.6px;
  height:660px;
  transform: translate(200px, 64px);
  position: absolute;
  } 
  

  /*------------------------------------------------------- INFO (1440PX) -------------------------------------------------------*/
  
  
  .info-container{
  margin: 253px 256px 254px 720px;
  }

  .info-container h2{
  font-size: 48px;
  margin-bottom: 24px;
  }

  .info-container p{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  line-height: 24px
  }


  /*------------------------------------------------------- GUESTS (1440PX) -------------------------------------------------------*/
  
  
  .guests-container{
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 64px;
  }

  .guests-container h2{
  width: 100%;
  font-size: 48px;
  margin: 0 759px 36px 200px;
  }

  .guests-container img{
  width: 33.33%;
  }


  /*------------------------------------------------------- TOPICS (1440PX) -------------------------------------------------------*/
  
  
  .topics-container{
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 247px;
  }

  .topics-container h2{
  width: 100%;
  font-size: 48px;
  margin-left: 200px
  }

  .topics-wrapper{
  flex-direction:row;
  justify-content: space-around;
  margin-top: 69px;
  }

  .topics-container .wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  margin-right:98px;
  }

  .topics-container .wrapper p{
  margin-top: 29px;
  }

  .topics-container .seguridad{
  margin-right: 0;
  }

  .topics-container .seguridad-mobile{
  display:none;
  }

  .topics-container .seguridad-desktop{
  display:block;
  }


  /*------------------------------------------------------- LAST NEWS (1440PX) -------------------------------------------------------*/
  
  
  .assymetric2::before{
  -webkit-clip-path: polygon(0% 29%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 29%, 100% 0%, 100% 100%, 0% 100%);
  height:519px;
  }

  .assymetric2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }

  .assymetric2 h3{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 48px;
  color:#ffffff;
  width: 100%;
  margin-bottom: 36px;
  }

  .assymetric2 .episodes-button{
  background-color: #00F3BB;
  border: none;
  padding: 16px 59px;
  margin-bottom: 151px;
  margin-left: 547px;
  }


  /*------------------------------------------------------- FOOTER (1440PX) -------------------------------------------------------*/
  
  
  footer{
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 31px 100px;            
  }

  footer .copyright{
  font-size: 16px;
  line-height: 28px;
  margin: 0;
  }

  footer .icons-social-networks{
  margin: 0;
  }

  footer .icons-social-networks i {
  padding-left: 36px;
  }       
  